*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url(../img/natural-pattern.png);
}

a{
  text-decoration: none;
  color: green;
}

h1,h2{
  color:rgb(74, 60, 42);
}

.container{
  width: 1000px;
  margin: auto;
  padding: 10px;
}
/* header{
  height: 300px;
  background-color: red;
} */

.header-top{
  height: 300px;
  background-image: url(../img/natural-header.jpg);
  background-position: center;
  background-size: cover;
  border: 10px solid white;
  position: relative;
}

.header-top-image{
width: 50%;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center
}

.header-top-image img{
  width: 70%;
}

.header-top-image h2{
  color: white;
  text-transform: uppercase;
}

nav{
  background-color: grey;
  text-align: center;
}

nav .menu li{
  display: inline-block;
  height: 44px;
  line-height: 44px;
  padding: 0 10px;
}

nav .menu li a{
  color: white;
  text-transform: uppercase;
}

nav .menu li:hover{
  background-color: lightgrey;
}

main{
  margin-top: 20px;
  /* background-color: green; */
}
main::after{
  content: "";
  display: table;
  clear: both;
}
.col-left-header::after{
  content: "";
  display: table;
  clear: both;
}

.col-left{
  width: 20%;
  padding: 5px;
  background-color: white;
  border-radius: 10px
}

ul.col-left-menu{
  list-style: none;
}

ul.col-left-menu li{
  margin: 10px
}

.float-left{
  float: left;
}

.float-right{
  width: 20%;
  float: right;
}

div.col-left-header{
  width: 100%;
  margin-bottom: 10px;
}

.col-left-icon{
  width: 20%;
}

.col-left-icon i{
  font-size: 30px;
  color: orange;
}

.col-left-title{
  width: 80%;
}

section.maintext{
  width: calc(100% - 40% - 40px);
  margin:0 20px;
}

div.center-text{
  width: 100%;
  border-radius: 10px;
  background-color: white;
  padding: 15px;
}
.center-text h1{
  text-transform: uppercase;
  text-shadow: 2px 2px grey;
  margin-bottom: 30px;
}

.center-text p{
  line-height: 24px;
}

div.box-right{
  width: 100%;
  border-radius: 10px;
  background-color: white;
  padding: 15px;
  margin-bottom: 20px
}

.box-right h2{
  margin-bottom: 30px;
}

footer{
  width: 100%;
  background-color: white;
}

.copyright{
  text-align: center;
  color: lightgrey;
}
.copyright span{
  font-style: italic;
}

.facebook, .instagram, .github{
  display: inline-block;
  margin: 25px 70px;
}

.social i{
  font-size: 30px;
}
